# env
  .env
  .env.local
  **/.env

  # python
  __pycache__/
  *.pyc
  venv/
  .venv/

  # node
  node_modules/
  dist/
  .vite/

  # # models (see Git LFS note below)
  # *.keras
  # *.h5

  # OS
  .DS_Store
  Thumbs.db